
.header {
	width: 100%;
	top: 0; 
	left: 0; 
	position: fixed;
	z-index: 15;
}

.nowTypeLabel {
	width: 100%;
	top: 43px;
	left: 0;
	padding-left: 8px;
	line-height: 33px;
	position: fixed;
	z-index: 10;
	background: #FFF;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
	font-weight: 700;

	.icon {
		margin-right: 8px;
		color: #1890ff;
	}
}

.content {
	width: 100%;
	height: 100%;
	padding: 88px 8px 0;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.gameCard {
	width: 175px;
	margin: 0 0 9px;
	padding: 5px 5px 3px;
	box-sizing: border-box;

	.ant-card- {
		&body {
			padding: 9px 3px 4px;
		}
		&loading-content {
			margin-top: -3px;
			height: 16px;
			overflow: hidden;
		}
		&meta-avatar {
			padding-right: 5px;
		}
	}
}
